In [1]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [6]:
df_all = pd.read_csv('candidates_byday_all.csv')
# df_all

                        Query        Time    Value     Unit
0            name="joe biden"  2010-01-01  162.060  seconds
1            name="joe biden"  2010-01-02   93.039  seconds
2            name="joe biden"  2010-01-03   63.048  seconds
3            name="joe biden"  2010-01-04   72.060  seconds
4            name="joe biden"  2010-01-06    3.000  seconds
...                       ...         ...      ...      ...
14833  name="hillary clinton"  2023-10-20    0.000  seconds
14834  name="hillary clinton"  2023-10-22    0.000  seconds
14835  name="hillary clinton"  2023-10-26    0.000  seconds
14836  name="hillary clinton"  2023-10-30    0.000  seconds
14837  name="hillary clinton"  2023-11-02    0.000  seconds

[14838 rows x 4 columns]

In [5]:
df_fox = pd.read_csv('candidates_byday_FOX.csv')
# df_fox

                                          Query        Time    Value     Unit
0            name="joe biden" AND channel="FOX"  2010-01-01  114.042  seconds
1            name="joe biden" AND channel="FOX"  2010-01-02   63.021  seconds
2            name="joe biden" AND channel="FOX"  2010-01-03   63.048  seconds
3            name="joe biden" AND channel="FOX"  2010-01-04   66.057  seconds
4            name="joe biden" AND channel="FOX"  2010-01-08    9.006  seconds
...                                         ...         ...      ...      ...
14159  name="hillary clinton" AND channel="FOX"  2023-10-13    0.000  seconds
14160  name="hillary clinton" AND channel="FOX"  2023-10-22    0.000  seconds
14161  name="hillary clinton" AND channel="FOX"  2023-10-26    0.000  seconds
14162  name="hillary clinton" AND channel="FOX"  2023-10-30    0.000  seconds
14163  name="hillary clinton" AND channel="FOX"  2023-11-02    0.000  seconds

[14164 rows x 4 columns]

In [7]:
df_cnn = pd.read_csv('candidates_byday_CNN.csv')
# df_cnn

                                          Query        Time   Value     Unit
0            name="joe biden" AND channel="CNN"  2010-01-01  42.018  seconds
1            name="joe biden" AND channel="CNN"  2010-01-02  30.018  seconds
2            name="joe biden" AND channel="CNN"  2010-01-07   3.000  seconds
3            name="joe biden" AND channel="CNN"  2010-01-08  81.054  seconds
4            name="joe biden" AND channel="CNN"  2010-01-09  39.030  seconds
...                                         ...         ...     ...      ...
13093  name="hillary clinton" AND channel="CNN"  2023-09-28   0.000  seconds
13094  name="hillary clinton" AND channel="CNN"  2023-10-03   0.000  seconds
13095  name="hillary clinton" AND channel="CNN"  2023-10-08   0.000  seconds
13096  name="hillary clinton" AND channel="CNN"  2023-10-18   0.000  seconds
13097  name="hillary clinton" AND channel="CNN"  2023-10-20   0.000  seconds

[13098 rows x 4 columns]

In [9]:
df_msnbc = pd.read_csv('candidates_byday_MSNBC.csv')
# df_msnbc

,Query,Time,Value,Unit
0,"name=""joe biden"" AND channel=""MSNBC""",2010-01-01,6.000,seconds
1,"name=""joe biden"" AND channel=""MSNBC""",2010-01-04,6.003,seconds
2,"name=""joe biden"" AND channel=""MSNBC""",2010-01-06,3.000,seconds
3,"name=""joe biden"" AND channel=""MSNBC""",2010-01-07,3.000,seconds
4,"name=""joe biden"" AND channel=""MSNBC""",2010-01-08,187.357,seconds
...,...,...,...,...
13821,"name=""hillary clinton"" AND channel=""MSNBC""",2023-09-28,0.000,seconds
13822,"name=""hillary clinton"" AND channel=""MSNBC""",2023-10-01,0.000,seconds
13823,"name=""hillary clinton"" AND channel=""MSNBC""",2023-10-03,0.000,seconds
13824,"name=""hillary clinton"" AND channel=""MSNBC""",2023-10-15,0.000,seconds
13825,"name=""hillary clinton"" AND channel=""MSNBC""",2023-10-17,0.000,seconds