In [1]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [21]:
df_all = pd.read_csv('candidates_byday_all.csv')
len(df_all)

14838

In [22]:
df_fox = pd.read_csv('candidates_byday_FOX.csv')
len(df_fox)

14164

In [23]:
df_cnn = pd.read_csv('candidates_byday_CNN.csv')
len(df_cnn)

13098

In [24]:
df_msnbc = pd.read_csv('candidates_byday_MSNBC.csv')
len(df_msnbc)

13826

In [25]:
df_all['Time'] = pd.to_datetime(df_all['Time'])
df_all = df_all.pivot(index='Time', columns='Query', values='Value')
df_all

Query       name="donald trump"  name="hillary clinton"  name="joe biden"
Time
2010-01-01               42.015                  54.024           162.060
2010-01-02              201.132                 186.135            93.039
2010-01-03               48.015                  12.006            63.048
2010-01-04               35.476                 330.222            72.060
2010-01-05               35.411                 369.240             0.000
...                         ...                     ...               ...
2023-11-02             1200.083                   0.000          1886.939
2023-11-03             1458.756                     NaN          2488.167
2023-11-04             1651.453                     NaN          1703.846
2023-11-05             3764.301                     NaN          3106.267
2023-11-06             9787.853                     NaN          2800.192

[5036 rows x 3 columns]

In [26]:
df_fox['Time'] = pd.to_datetime(df_fox['Time'])
df_fox = df_fox.pivot(index='Time', columns='Query', values='Value')
df_fox

Query,"name=""donald trump"" AND channel=""FOX""","name=""hillary clinton"" AND channel=""FOX""","name=""joe biden"" AND channel=""FOX"""
Time,,,
2010-01-01,36.015,9.000,114.042
2010-01-02,9.000,15.003,63.021
2010-01-03,0.000,0.000,63.048
2010-01-04,23.476,144.108,66.057
2010-01-05,23.411,120.078,0.000
...,...,...,...
2023-11-02,191.002,0.000,1318.845
2023-11-03,186.005,NaN,1221.183
2023-11-04,354.124,NaN,883.038
2023-11-05,992.520,NaN,1187.679
2023-11-06,2192.376,NaN,1074.984

In [27]:
df_cnn['Time'] = pd.to_datetime(df_cnn['Time'])
df_cnn = df_cnn.pivot(index='Time', columns='Query', values='Value')
df_cnn

Query,"name=""donald trump"" AND channel=""CNN""","name=""hillary clinton"" AND channel=""CNN""","name=""joe biden"" AND channel=""CNN"""
Time,,,
2010-01-01,3.000,12.000,42.018
2010-01-02,192.132,0.000,30.018
2010-01-03,48.015,12.006,0.000
2010-01-04,6.000,51.021,NaN
2010-01-05,3.000,150.090,NaN
...,...,...,...
2023-11-02,219.316,NaN,297.050
2023-11-03,549.286,NaN,358.925
2023-11-04,187.856,NaN,415.784
2023-11-05,1037.067,NaN,1225.824
2023-11-06,3068.684,NaN,1003.709

In [28]:
df_msnbc['Time'] = pd.to_datetime(df_msnbc['Time'])
df_msnbc = df_msnbc.pivot(index='Time', columns='Query', values='Value')
df_msnbc

Query,"name=""donald trump"" AND channel=""MSNBC""","name=""hillary clinton"" AND channel=""MSNBC""","name=""joe biden"" AND channel=""MSNBC"""
Time,,,
2010-01-01,3.000,33.024,6.000
2010-01-02,0.000,171.132,0.000
2010-01-03,0.000,0.000,0.000
2010-01-04,6.000,135.093,6.003
2010-01-05,9.000,99.072,0.000
...,...,...,...
2023-11-02,789.765,NaN,271.044
2023-11-03,723.465,NaN,908.059
2023-11-04,1109.473,NaN,405.024
2023-11-05,1734.714,NaN,692.764
2023-11-06,4526.793,NaN,721.499